#side-pannel {
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#words {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  max-height: 350px;
  gap: 1.75rem;

  padding: 1.5rem;
  overflow: auto;
}

#words::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
#words::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#words::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
#words::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#input-boxes,
#input-choices {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;

  min-height: 50px;
}

#cta-buttons {
  display: flex;
  gap: 1.5rem;
}

.play-page {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100svh;
  background-color: var(--primary);
}

.play-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 80%;
  margin: auto;

  padding: 1rem;
  gap: 1.5rem;
}

.play-heading {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 1rem;
  text-align: center;

  color: white;
}

.play-score,
.play-time {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

.input-box,
.choice-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  aspect-ratio: 1;
  text-transform: uppercase;

  cursor: pointer;
  border: 2px solid white;
  border-radius: 0.5rem;

  background-color: transparent;
  transition: transform 300ms ease-in-out;

  text-transform: uppercase;
}

.choice-box:hover {
  transform: translateY(-5px);
}

.fill {
  font-family: 'Poppins';
  font-size: 1rem;
  font-weight: 500;

  background-color: #005b9c;
  color: var(--white);
}

.choice-box:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.choice-box:disabled:hover {
  transform: translateY(0px);
}

.cta-button {
  font-size: 1rem;
  font-family: 'Poppins';
  font-weight: bold;

  cursor: pointer;
  background-color: #574e24;
}

.generic {
  background-color: var(--tertiary);
  color: white;
  border: 2px solid var(--dark-orange);

  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;

  transition: all 300ms ease-in-out;
}

.generic:hover {
  background-color: var(--white);
  color: var(--tertiary);

  border: 2px solid var(--tertiary);
}

.proceed {
  position: absolute;
  bottom: 50px;
  right: 50px;

  background-color: var(--secondary);
  color: var(--white);
  border: 1px solid var(--secondary);

  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;

  transition: all 300ms ease-in-out;
}

.proceed:hover {
  background-color: var(--white);
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.solved {
  font-weight: bold;
  color: green;

  visibility: hidden;
}

.generic:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.generic:disabled:hover {
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid var(--primary);
}
