.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader::after {
  content: "";
  width: 35px;
  height: 35px;
  border: 8px solid #ddd;
  border-top-color: var(--primary);
  border-radius: 50%;
  animation: spin 0.75s ease infinite;
}

@keyframes spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
