.word-wrapper {
  display: flex;
  width: fit-content;
  gap: 0.5rem;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
  font-family: "Poppins";
  text-transform: uppercase;
  color: var(--secondary);
  background-color: rgb(26, 25, 25);

  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  width: 40px;
  aspect-ratio: 1;
  border: 1px solid #2222;

  border-radius: 0.5rem;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}
