.word-wrapper {
  display: flex;
  gap: 0.5rem;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1rem;;
  font-family: "Poppins";
  font-weight: bold;
  color: var(--tertiary);
  background-color: rgb(236, 236, 236);
  width: 50px;
  aspect-ratio: 1;
  border: 1px solid #2222;

  border-radius: 0.5rem;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}
