:root {
  --primary: #1a8fe3;
  --secondary: #f1b236;
  --tertiary: #ff9900;

  --white: white;
  --black: black;
  --dark-orange: #f17105;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
